html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

.container {
  width: 100%;
  height: 100%; }

.board {
  height: 100%; }
  .board > div {
    display: block;
    width: 33.33333%;
    height: 100%;
    float: left; }
  .board h3 {
    text-align: center; }
  .board input {
    width: 80%;
    display: block;
    margin: 20px auto 0; }

.player-1 {
  background-color: #ffd300; }

.player-2 {
  background-color: #0088bf; }

.combined > div {
  height: 50%; }
.combined .goal {
  background-color: #00a368; }
.combined .current {
  background-color: #005f24; }
